@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;600;700&display=swap');


/*root:*/

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Raleway', sans-serif;
}

a {
  text-decoration: none;
}

body {
  width: 100%;
  height: 100vh;
}

/*NAV*/

.navbar {
  background-image: url(../image/nav2.jpg);
  background-position: center;
  background-size: cover;
}

#logo {
  width: 150px;
  height: auto;
  margin-left: 50px;
}

.navbar-nav {
  margin: 20px 50px;
}

.nav-item a {
  color:#C92C6D;
  font-size: 17px;
  font-weight: 600;
  
}

.nav-item a::after {
  content: "";
  display: block;
  height: 3px;
  margin-top: 3px;
  width: 50px;
  transition: all ease 0.4s;
}

.nav-item a:hover:after {
  width: 70px;
  background-image: radial-gradient(circle at 9.92% 42.93%, #ff7ec2 0, #f475bd 25%, #d86cb4 50%, #bd63aa 75%, #a45ba0 100%);
}

/*MAIN*/

main {
  width: 100%;
  height: auto;
  background-color: #F0EEED;
}

.section-slide {
  background-color: #332C39;
  width: 100%;
  height: 70px;
  display: flex;
  justify-content:space-around;
  align-items: center;
  
}

.buttons a{
  text-decoration: none;
  color:#C92C6D;
  font-size: 50px;
  
}

.text-slide {
  color:white;
  font-weight: 700;
  
}

.section-form {
  background-color:#609EA2;
  width: 90%;
  height: auto;
  margin: 0px auto;
  padding: 50px;
}

.input-form {
  display: flex;
  justify-content:center;
  align-items:center;
  padding: 30px 50px;
}

.card-body {
  text-align: center;
}

#cards {
  padding: 20px 50px;
  width: 100%;
  margin: 0 auto;
}

.formulario {
  background: #C92C6D;
  width: 60%;
  height: 500px;
  margin: 0px auto;
  display:grid;
  justify-content: center;
  align-items:center;
  border: 5px solid white;
}

.label-form {
  font-size: 20px;
  font-weight: 700;
}

input {
  width: 400px;
  height: 30px;
}

.message {
  width: 400px;
  height: 150px;
}

.footer-section {
  background-color:#332C39;
  width: 100%;
  height: 120px;
  display: flex;
  justify-content:space-between;
  align-items: center;
}

.redes {
  margin-right: 50px;
}

.img-footer {
  width: 50px;
  height: 50px;
  padding:8px;
  transition:.3s ease-in-out;
}

.img-footer:hover {
  transform: scale(1.2);
}

.text-footer {
  color:white;
  font-weight: 700;
  margin-right: 50px;
}


/* MOBILE */

@media(max-width:1046px){

  #logo {
    width: 150px;
    height: auto;
    margin: 15px 0px;
  }

  .section-form {
    padding: 50px 20px;
  }

  .input-form {
    display:flow-root;
    padding: 0px 20px;
  }

  #cards {
    padding: 10px;
  }

  .formulario {
    width: 70%;
    border: 3px solid white;
  }

  .footer-section {
    display:block;
    text-align: center;
    height: 180px;
  }

  .redes {
    margin: 0;
  }

  .img-footer {
    width: 45px;
    height: 45px;
  }

  .text-footer {
    font-weight: 700;
    font-size: 15px;
    margin:15px 0px ;
  }

}

@media(max-width:846px) {
  .formulario {
    width: 90%;
  }

  input {
    width: 200px;
    height: 30px;
  }

}







