@import "/Project-AMAZING-EVENTS/node_modules/bootstrap/dist/css/bootstrap.min.css";

@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;600;700&display=swap');


/*root:*/

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Raleway', sans-serif;
}

a {
  text-decoration: none;
}

body {
  background-color:#F0EEED;
}

.navbar {
  background-image: url(../image/nav2.jpg);
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 90px;
  padding: 0 50px
}

.navbar-nav .nav-item {
  display: flex;
  align-items:center;
  padding: 20px 10px;
}

.nav-link {
  color:#C92C6D !important;
  font-weight: 700;
  font-size: 15px;
  border-radius: 10px;
  transition: 0.2s;
}

.nav-item a::after {
  content: "";
  display: block;
  height: 3px;
  margin-top: 3px;
  width: 50px;
  transition: all ease 0.4s;
}

.nav-item a:hover:after {
  width: 70px;
  background-image: radial-gradient(circle at 9.92% 42.93%, #ff7ec2 0, #f475bd 25%, #d86cb4 50%, #bd63aa 75%, #a45ba0 100%);

}

/*MAIN*/

main {
  width: 100%;
  height: auto;
}

.section-home {
  width: 100%;
  height: auto;
  
}

.carousel-dark {
  width: 100%;
  height: 100px;
}





